@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bg-color-light: #ffffff;
    --text-color-light: #252e3d;
    --card-bg-color-light: #f9f9f9; /* Light gray for cards */
    /* --bg-color-dark: #2a3447; */
    --bg-color-dark: #232c3a;
    --text-color-dark: #d4d7da;
    /* --card-bg-color-dark: #465670; */
    --card-bg-color-dark: #2d384a;
    --bg-faded-dark: #49beff1a;
    --bg-faded-two-dark: #aec1ed0a;
    --bg-topbar-dark: #303846;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
    width: 100%;
    height: 100vh;
  }
  
  .dark {
    body {
      background-color: var(--bg-color-dark);
      color: var(--text-color-dark);
    }
  
    .card,
    .card-body, .navigation {
      background-color: var(--card-bg-color-dark);
    }
    .Postcontent{
        background-color: var(--bg-faded-two-dark);
    }
    .iconbutton{
        color: var(--text-color-dark);
    }
    .iconbutton:hover{
        color: var(--bg-color-dark);
    }
   .socialmedia-Icon{
    color: #e4e0e0;
  }
  .topbarcontainer{
    background-color: var(--bg-topbar-dark);
  }
  input{
    color: var(--text-color-light);
  }
    
  }
  
  .card,
  .card-body, .navigation {
    background-color: var(--card-bg-color-light);
  }
  .customCard{
    background-color: var(--bg-faded-dark);
  }


  h1{
    font-size: 50px;
    font-weight: 600;
  }
  h2{
    font-size: 40px;
    font-weight: 500;
  }
  h3{
    font-size: 30px;
    font-weight: 500;
  }
  h4{
    font-size: 25px;
    font-weight: 500;
  }
  h5{
    font-size: 18px;
    font-weight: 500;
  }
  h6{
    font-size: 14px;
    font-weight: 500;
  }
  span{
    font-weight: 500;
    font-size: 18px;
  }
  