/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #f0f0f0;
    width: 100%;
    height: 100vh;
} */
/* h1{
  font-size: 50px;
  font-weight: 600;
}
h2{
  font-size: 40px;
  font-weight: 500;
}
h3{
  font-size: 30px;
  font-weight: 500;
}
h4{
  font-size: 25px;
  font-weight: 500;
}
h5{
  font-size: 18px;
  font-weight: 500;
}
h6{
  font-size: 14px;
  font-weight: 500;
}
span{
  font-weight: 500;
  font-size: 18px;
} */



.mobile-profile-ImageContainer{
  display: flex;
}
@media (max-width: 700px) {
  .mobile-profile-ImageContainer{
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
  }
  .mobile-profile-ImageContainer .imagecontainer .imageProfile{
    position: absolute;
    bottom: 0;
  }
  .namedetails{
    padding-left: 0 !important;
    padding-bottom: 20px !important;
  }
  .profilename h1{
    font-size: 36px !important;
  }
  .designation h3{
    font-size: 18px !important;
  }
  
}







.linkButton span{
  font-size: 12px !important;
}


.HeaderIconmenu{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content:space-evenly
}


.menubutton{
  padding: 17px 14px;
}
.menubutton:hover{
  background-color: #79bef3b0;
  color: #012949;
  cursor: pointer;
}
.menubutton.active{
  background-color: #79bef3b0;
}


.topbar-container{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #e6e6e6;
  z-index: 9;
}
.toplink{
  font-size: 14px;
  margin: 0 10px;
}
::-webkit-scrollbar{
    display: none;
}
input, textarea{
  width: 100%;
  border-radius: 4px;
  border: 1px solid lightgrey;
  padding: 4px;
  font-size: 14px;
}
input:active, input:focus, textarea:active, textarea:focus{
  outline: none;
}
.card{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 24px;
  margin-bottom: 24px;
  /* background-color: #fdfdfd; */
  background-color: #fff;
}

.card-body{
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  /* border: 1px solid #e6e6e6; */
  border-radius: 6px;
  padding: 16px;
  padding-bottom: 8px !important;
  /* background-color: #cfe4f3b6; */
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.content1, .content2{
  position: relative;
  width: 100%;
  height: auto !important;

}
.postheader{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.postheadername{
  display: flex;
  align-items: center;
}
.image{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.image .img{
  width: 100% !important;
  border-radius: 50%;
  border: 1px solid #fff;
}
.imageProfile .img{
  width: 100% !important;
  border-radius: 50%;
  border: 1px solid #fff;
}
.post-date{
  font-size: 11px;
}
.Postcontent{
  padding: 10px;
  background-color: #f5f5f5b6;
  border-radius: 6px;
  font-size: 14px;
}
.content{
  margin-bottom: 10px;
}
.postimage-content{
  position: relative;
  width: 100%;
  height: auto;
  max-height: 450px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.postimage-content-Modal{
  position: relative;
  width: 100%;
  height: auto;
  max-height: 380px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.imageCon{
  width: 100%;
  flex: 30%;
}

.likecomment-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}
.likecomment-container .like, .likecomment-container .comment,
 .Modal-likecomment-container .like, .Modal-likecomment-container .comment{
  display: flex;
  align-items: center;
}
.Modal-likecomment-container{
  display: flex;
  align-items: center;
}
.Modal-likecomment-container .mx-4{
  display: flex;
  align-items: center;
}
.linkButton{
  font-size: 12px !important;
  margin-left: 10px;
  border-bottom: 1px solid transparent;
  line-height: 12px;
}
.linkButton:hover{
  cursor: pointer;
  border-bottom: 1px solid #62B8FC;
  color: #60A3D9;
}
.MoreVert{
  font-size: 16px;
}
/* .like-icon, .comment-icon{
  font-size: 16px;
} */

.modal{
  z-index: 9999999999 !important;
}
.navigation{
  width: 100%;
  height: auto;
  background-color: #fff;
}

.profile-container{
  position: relative;
  width: 100%;
  height: auto;
}
.mobilesize-navbar{
  display: none;
  width: 100%;
}
.mobileNavbarContent{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.Like-container, .Comment-Container, .Event-Conatiner, .AddPost-Container, .profileImage{
  line-height: 20px;
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
}

.icon-container .icon{
  font-size: 18px;
}

.totalCount{
  font-size: 1.5rem;
  font-weight: 400;
}

.titlenameName{
  font-size: .9rem;
  color:darkgrey
}
.imagecontainer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileImage .imageProfile{
  width: 155px;
  height: 155px;
  position: absolute;
  bottom: 10px;
  padding: 5px;
  border-color: transparent;
}
.namedetails{
  margin-bottom: -25px;
  width: 100%;
}
.mobileSize-HeaderIconmenu-Container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#cover-img{
  width: 100% !important;
  transition: all .3s ease-in-out !important;
}
/* Add this to your styles or CSS file */
.fade-in-out {
  opacity: 1;
  transition: opacity .3s ease-in-out !important;
}

.hidden {
  opacity: 0;
  transition: opacity .3s ease-in-out !important;
}


.MenuMainContainer{
  width: 100%;
  /* background-color: #BFD7ED; */
}

.SearchContainer{
  width: 100%;
}
.SearchContainer #Inputsearch{
  width: 100%;
  padding: 5px;
  border: 1px solid lightgrey;
  background-color: #fff !important;
  
}
.menuContainer{
  width: 100%;
  text-align: end;
}


.fsdfdfd{
  width: 100%;
}
/* .Modal-content{
    width: 100%;
   height: auto;
} */


/* pages */
.PageContainer{
  width: 98%;
  margin: 14px auto;
}

/* Comments */

.Commentor-profile{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.commentor-name{
  font-size: 18px;
  font-weight: 600;
  color: black !important;
}
.CommentornameContainer{
  line-height: 20px;
}
.inputComent{
  height: auto;
 

}

.inputCommentProfile{
  width: 40px;
  height: 35px;
  overflow: hidden;
  border-radius: 25px;
}
.inputComment{
  position: absolute;
  padding: 20px 10px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.sendIcon{
  border-radius: 50%;
  padding: 10px;
}
/* .AddCommentConatiner{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
} */
.MuiSheet-root{
  padding: 0 !important;
}
.MuiSheet-root:focus{
  height: 900px !important;
  outline: none !important;
  position: relative;
  
}

 .ReplyComment{
  padding-left: 75px;
 }

 .Comments-Container{
  width: 100%;
  height: 740px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
 }
.CommentContainer .bg-slate-100{
  border-radius: 20px !important; 
}

.commentcontent{
  padding: 16px 0px;
}
.iconbutton{
  padding: 10px;
  font-size: 38px !important;
  border-radius: 20px;
  color: rgb(95, 95, 95);
}
.iconbutton:hover{
  cursor: pointer;
  background-color: #BFD7ED;
  color: #003B73;
  transition: all .3s ease-in-out;
}



.BarContainer{
  padding: 20px;
  display: flex;
  align-items: center;
}
.percentage{
  margin-left: 10px;
}
.Bar-outer{
  position: relative;
  width: 100%;
  height: 10px;
  background-color: gray;
  border-radius: 10px;
  
}
.bar-Inner{
  position: absolute;
  width: 30%;
  height: 10px;
  top: 0;
  left: 0;
  background-color: aquamarine;
  border-radius: 10px;
}


.PhotosContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.photoimage{
  width: 200px;
  height: auto;
  padding: 2px;
  flex: 25%;
  border-radius: 10px;
  overflow: hidden;
}


/* GALLERY */
.Gallery-Photos-Container{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.imageGalleryContent{
  position: relative;
  width: 100%;
  max-height: 280px;
  max-width: 800px;
  margin: 2px;
  justify-items: stretch;
  overflow: hidden;
  flex: 30%;
}


.spinnerContainer{
  position: absolute;
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progressbar{
  background-color: gray !important;
}


@media (max-width: 890px) {
  .profile-container{
    display: none !important;
  }
  .mobilesize-navbar{
    display: block !important;
  }
}




