@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    width: 100%;
    height: 100vh;
}
.topbar-container{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #e6e6e6;
  z-index: 99999;
}
.toplink{
  font-size: 14px;
  margin: 0 10px;
}
::-webkit-scrollbar{
    display: none;
}
input, textarea{
  width: 100%;
  border-radius: 4px;
  border: 1px solid lightgrey;
  padding: 4px;
  font-size: 14px;
}
input:active, input:focus, textarea:active, textarea:focus{
  outline: none;
}
.card{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 24px;
  margin-bottom: 24px;
}
.card-body{
  width: 100%;
  height: auto;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  padding: 16px;
  padding-bottom: 8px !important;
}
.postheader{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.postheadername{
  display: flex;
  align-items: center;
}
.image{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.image .img{
  width: 100% !important;
  border-radius: 50%;
  border: 1px solid #fff;
}
.imageProfile .img{
  width: 100% !important;
  border-radius: 50%;
  border: 1px solid #fff;
}
.post-date{
  font-size: 11px;
}
.Postcontent{
  padding: 10px;
  border: 1px solid rgba(211, 211, 211, 0.116);
  background-color: #f7f7f7;
  border-radius: 6px;
  font-size: 14px;
}
.content{
  margin-bottom: 10px;
}
.postimage-content{
  position: relative;
  width: 100%;
  height: auto;
  max-height: 450px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.postimage-content-Modal{
  position: relative;
  width: 100%;
  height: auto;
  max-height: 380px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.imageCon{
  width: 100%;
  flex: 30%;
}

.likecomment-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}
.likecomment-container .like, .likecomment-container .comment,
 .Modal-likecomment-container .like, .Modal-likecomment-container .comment{
  display: flex;
  align-items: center;
}
.Modal-likecomment-container{
  display: flex;
  align-items: center;
}
.Modal-likecomment-container .mx-4{
  display: flex;
  align-items: center;
}
.linkButton{
  font-size: 12px !important;
  margin-left: 10px;
  border-bottom: 1px solid transparent;
  line-height: 12px;
}
.linkButton:hover{
  cursor: pointer;
  border-bottom: 1px solid #321eee;
  color: #321eee;
}
.MoreVert{
  font-size: 16px;
}
/* .like-icon, .comment-icon{
  font-size: 16px;
} */


.navigation{
  width: 94%;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
}

.profile-container{
  position: relative;
}

.Like-container, .Comment-Container, .Event-Conatiner, .AddPost-Container, .profileImage{
  line-height: 20px;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.icon-container .icon{
  font-size: 18px;
}

.totalCount{
  font-size: 1.5rem;
  font-weight: 400;
}

.titlenameName{
  font-size: .9rem;
  color:darkgrey
}
.imagecontainer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileImage .imageProfile{
  width: 155px;
  height: 155px;
  position: absolute;
  bottom: 10px;
  padding: 5px;
  border-color: transparent;
}
.namedetails{
  margin-bottom: -25px;
}
#cover-img{
  width: 100% !important;
  transition: all .3s ease-in-out !important;
}
/* Add this to your styles or CSS file */
.fade-in-out {
  opacity: 1;
  transition: opacity .3s ease-in-out !important;
}

.hidden {
  opacity: 0;
  transition: opacity .3s ease-in-out !important;
}


.MenuMainContainer{
  width: 100%;
}

.SearchContainer{
  width: 100%;
}
.SearchContainer #Inputsearch{
  width: 100%;
  padding: 5px;
  border: 1px solid lightgrey;
  background-color: #fff !important;
  
}
.menuContainer{
  width: 100%;
  text-align: end;
}


.fsdfdfd{
  width: 100%;
}
/* .Modal-content{
    width: 100%;
   height: auto;
} */


/* pages */
.PageContainer{
  width: 94%;
  margin: 14px auto;
}

.card-body{
  margin-bottom: 20px;
}

/* Comments */

.Commentor-profile{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.commentor-name{
  font-size: 18px;
  font-weight: 600;
  color: black !important;
}
.CommentornameContainer{
  line-height: 20px;
}
.inputComent{
  height: auto;
 

}

.inputCommentProfile{
  width: 40px;
  height: 35px;
  overflow: hidden;
  border-radius: 25px;
}
.inputComment{
  position: absolute;
  padding: 20px 10px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.sendIcon{
  border-radius: 50%;
  padding: 10px;
}
/* .AddCommentConatiner{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
} */
.MuiSheet-root{
  padding: 0 !important;
}
.MuiSheet-root:focus{
  height: 900px !important;
  outline: none !important;
  position: relative;
  
}

 .ReplyComment{
  padding-left: 75px;
 }

 .Comments-Container{
  width: 100%;
  height: 740px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
 }
.CommentContainer .bg-slate-100{
  border-radius: 20px !important; 
}

.commentcontent{
  padding: 16px 0px;
}
.iconbutton{
  padding: 10px;
  font-size: 38px !important;
  border-radius: 20px;
  color: rgb(95, 95, 95);
}
.iconbutton:hover{
  cursor: pointer;
  background-color: rgb(3, 3, 3);
  color: #fff;
  transition: all .3s ease-in-out;
}






